@use './variaveis' as *;

/* CONTAINER PRINCIPAL */
.conteiner {
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(8px);
  padding: 3rem 2rem;
  border-radius: 20px;
  color: #dfcaf9;
  max-width: 1200px;
  margin: 2rem auto 7rem auto;
  overflow-y: auto;
  max-height: 80vh;
  /* scroll controlado */

  /* scroll estilizado */
  scrollbar-width: thin;
  scrollbar-color:$destaque-claro;
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $destaque-claro;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }
}

/* TÍTULO */
.conteiner h2 {
  color: $claro;
  text-align: center;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* GRID DE MISSÕES */
.missoes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
}

/* CARD */
.missao-card {
  background-image: url("../assets/window_bg.png");
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: initial;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  color: #222;
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  padding: 1.5rem;
  min-height: 385px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
}

.missao-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 24px rgba(0, 0, 0, 0.4);
}

/* TEXTO */
.missao-card h3 {
  font-size: 1.3rem;
  align-self: center;
}

.missao-card p {
  line-height: 1.5;
}

.missao-card .conteudo {
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: #6a1b9a;
}

@media (max-width: 768px) {
  .conteiner {
    padding: 2rem 1rem;
  }

  .missao-card {
    font-size: 0.9rem;
    padding: 1rem;
    min-height: 300px;
  }

  .missao-card h3 {
    font-size: 1.1rem;
  }
}

@media (max-width: 480px) {
  .missao-card {
    min-height: 260px;
  }
}
